* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #000;
    font-family: "Lucida Grande", Verdana, sans-serif;
    background: #EEE;
}

/*body {
 position: relative;
 height: auto !important;
 height: 100%;
 min-height: 100%;
 }*/

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #000; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

#header_logo {	
	
}

#header_info {
}

#fork_me{
	margin-left: 210px;
	
}

#fork_me_figure{
	text-align: right;
}

#logo_image{
	float : left;	
	width:  : 200px;	
}




.navbar {
	clear : left;
    background-color: #333;
    padding: 2px 0px 5px 0px;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.hr li {
    display: inline; /* Отображать как встроенный элемент */
    margin-right: 5px; /* Отступ слева */
    /*border: 1px solid #000;*/ /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
    font-size: 15px;
}

ul.hr li A {
    color: #fff;
    outline: none;
    text-decoration: none;
}

ul.hr li A:hover {
    color: #999; 
    text-decoration: underline; 
}

ul.hr li:hover {
    background-color: #eee9e9; 
}

#header { /* up block */
    background-color: #eeeeee;
    padding: 10px; /* space around a text */
    background-image: url(../images/header_background.png);
    background-repeat: repeat-x;
}

#content_area {
    clear: left;	
}

#info_frame {
	width: 1124px;
	margin: 0 auto;
}

#sidebar { 
    float: right;
    border: 1px solid #999;
    min-width: 320px;
    width: 33%; 
    padding: 5px;
    margin: 10px 5px 20px 5px; 
	background-color: #eeeeee;
}

#content { 
    margin: 10px 35% 20px 10px; 
    padding: 5px; 
    border: 1px solid #999; 
    min-height: 300px;	
	background-color: #eeeeee;
}

#footer { 
    background: #333; 
    color: #fff; 
    clear: both; 
    width: 100%;
}

#footer_content {
    padding: 2px;
}

A {
    text-decoration: none; 
}

A img {
    border: 0;
}

#borderContainer {
    width: inherit;
    height: inherit;
}

#JsUIConteiner {
    width: 1000px;
    height: 550px;
    margin: 0 auto;
}

A#getPodHref {
    float: left;
}

#getPodArea A {
    background: url(../images/download_pod_eng.png); 
    display: block; 
    width: 200px; 
    height: 64px; 
}

#getPodArea A:hover {
    background: url(../images/download_pod_hover_eng.png); 
}

#floatclear_left {
    clear: left;
}

.delPodArea {	
    border-top: 2px solid white; 
    padding: 1px; 
}

.buttonCustomIcon{
	background: url(../images/del_feed.png);
}
