<div id="JsUIConteiner" class="tundra" >
    <div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props=" design: 'headline',gutters:true, liveSplitters:true, persist:true"  id="borderContainer"  >
        <!--<div id="readerZone">
        </div>-->
        <div id="podcastsPane" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="splitter:true, region:'left'" style= "width: 20%; overflow:auto">
            <!--<button data-dojo-type=dijit.form.Button id="addPodcastButton" name="addPodcastButton">
            ADD PODCAST
            </button>--><b>Your podcasts:</b>
            <div id="podcastsAddButton">
            </div>
            <div id="podcastsListPane">
            </div>
        </div>
        <div id="singlePodPane" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="splitter:true, region:'center'" style="overflow:auto">
            <b>Current podcast name: <span id="singlePodNameArea"></span></b>
            <div id="delPodcastButtonArea">
            </div>
            <div id="getPodArea">
                <a id="getPodHref"><img style="width: 200px; height: 64px;" alt="dowload podcast" src="images/empty_space.png"></a>				
            </div>
			<div id="getOldPodcastsButton"></div>
            <div id="floatclear_left">
            </div>
            <b>RSS channels in this podcast:</b>
            <div id="podRssList">
            </div>
        </div>
        <div id="rssPane" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="splitter:true, region:'right'" style="width: 30%; overflow:auto">
            <b>Your RSS  channels:</b>
            <div id="addFeedButtonArea">
            </div>
            <div id="feedsListPane">
            </div>
            <div id="feedProgressBar">
            </div>
        </div>
    </div>
    <br>
    <div data-dojo-type="dijit.Dialog" id="addPodcastDialog" title="Add podcast" execute="podPanelObj.addNewPodcast(arguments[0]);">
        <table>
            <tr>
                <td>
                    <label for="desc">
                        Podcast name:
                    </label>
                </td>
                <td>
                    <input id="podcast_name_input" type="text" name="podcast_name_input" data-dojo-type="dijit.form.ValidationTextBox" required="true" invalidMessage="Please provide podcast name.">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button data-dojo-type=dijit.form.Button type="submit" onClick="return dijit.byId('addPodcastDialog').isValid();">
                        Add podcast
                    </button>
                    <button data-dojo-type="dijit.form.Button" type="button" onClick="dijit.byId('addPodcastDialog').hide();">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!--ADD FEED DIALOG-->
    <div data-dojo-type="dijit.Dialog" id="addFeedDialog" title="Add RSS channel" execute="feedPanelObj.addNewFeed(arguments[0]);">
        <table>
            <tr>
                <td>
                    <label for="desc">
                        RSS channel address:
                    </label>
                </td>
                <td>
                    <!--<input id="feed_url" type="text" name="feed_url" data-dojo-type="dijit.form.ValidationTextBox" required="true" invalidMessage="Please provide valid feed URL." regExpGen="dojox.validate.regexp.url">-->
                    <input id="feed_url_input" type="text" name="feed_url_input" data-dojo-type="dijit.form.ValidationTextBox" required="true">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button data-dojo-type=dijit.form.Button type="submit" onClick="return dijit.byId('addFeedDialog').isValid();">
                        Add RSS channel
                    </button>
                    <button data-dojo-type="dijit.form.Button" type="button" onClick="dijit.byId('addFeedDialog').hide();">
                        Cancel 
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!--DIALOG For the URL NOT Found -->
    <div data-dojo-type="dijit.Dialog" id="urlNotFoundDialog" title="Error during feed addition">
        <table>
            <tr>
                <td>
                    <label for="desc">
                        Sorry, but we can not find RSS channel for this URL.
                    </label>
                </td>                
            </tr>
            <tr>
                <td colspan="2" align="center">                    
                    <button data-dojo-type="dijit.form.Button" type="button" onClick="dijit.byId('urlNotFoundDialog').hide();">
                        Cancel 
                    </button>
                </td>
            </tr>
        </table>
    </div>
    
    <!-- TEMPLATES FOR FEED AND PODCASTS PANELS -->
    <div id="podTemplateField" style="display:none; visibility:hidden;">
		<table width="100%">
			<tr>
				<td>
				<div class="pod_choise" id="{{pod_name_id}}">
					{{pod_name}}
				</div><div id="{{pod_manage_id}}"></div></td>
			</tr>
		</table>
	</div>
    <!--FEED ITEM TEMPLATE-->
    <div id="feedTemplateField" style="display:none; visibility:hidden;">
		<table width="100%">
			<tr>
				<!--{% if show_add_button%} -->
				<td width="10%">
				<div id="{{add_id}}" class="add_feed">
					<img src="images/add_feed.png" width="24" alt="add" />
				</div></td><!-- {% endif %} -->
				<!--{%if show_faid %}-->
				<td>
				<div id="{{feed_name_id}}">
					{{feed_name}}
				</div><div id="{{feed_manage_id}}"></div></td>
				<!--{%else%}-->
				<td> {{feed_name}} </td>
				<!-- {% endif %} -->
				<td width="10%">
				<div id="{{del_id}}" class="del_feed">
					<!--{%if show_faid %}--><img src="images/del_feed.png" width="24" alt="del" /><!--{%else%}--><img src="images/rem_feed.png" width="24" alt="del" /><!--{% endif %} -->
				</div></td>
			</tr>
		</table>
	</div>
</div>
